<% layout('layouts/boilerplate')%>
<table class="table mt-80">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject code</th>
            <th scope="col">Subject name</th>
            <th scope="col">Credit</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < recordOfStudent.length; index++ ) { %>
            <tr>
                <th scope="row"><%= index + 1%></th>
                <td><%= recordOfStudent[index]?.courseID?.subjectID%></td>
                <td><%= recordOfStudent[index]?.courseID?.name%></td>
                <td><%= recordOfStudent[index]?.courseID?.credit%></td>
                <td><%= recordOfStudent[index]?.score%></td>
            </tr>
        <% } %>
        
        
    </tbody>
</table>
